{%- for define in nagios_defines -%}
{%- for group in nagios_defines[define] %}
define {{ define }} {
{%- for key in group %}
    {{ key }} {{ group[key] }}
{%- endfor %}
}
{% endfor %}
{%- endfor -%}
